/* Box-sizing border-box */
html {
	box-sizing: border-box;
}

*, *:before, *:after { 
	box-sizing: inherit; 
}

body{
	margin: 0;
	font-family: sans-serif;
	background-image: linear-gradient(260deg, #2376ae, 0%, #c16ecf 100%);
}

a {
	color: white;
	text-decoration: none;
	font-weight: 100;
	background: rgba(0,0,0,0.2);
	padding: 20px 5px;
}

a:hover {
	background: rgba(0,0,0,0.4);
}

img {
	width: 100%;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px;
}

/* Our flex Container */
.slider-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;	
}

/* Our 1st Flex Item */
.slider-nav li {
	flex: 2; /* this is flex item - ish */
	text-align: center;
	display: flex; /* this is flex container - ish */
}

.slider-nav .arrow {
	flex: 1;
}

.arrow a {
	font-size: 30px;
}

.slider-nav a {
	flex-basis: 100%;
	display: flex;
	align-items: center;
	/* We want to stretch as well as center */
}

/* This is the flex item */
.slider-nav span {
	display: block;
	width: 100%;
}

